<%= fields_for :issue, @issue do |f| %>

<div class="splitcontent">
  <div class="splitcontentleft">
    <div>
      <p>
        <%= f.label :status %>
        <%= f.text_field :status, :size => 41, :required => @issue.required_attribute?('status') %>
      </p>  
    </div>  
    <div>
      <p>
        <%= f.label :tags %>
        <%= f.text_field :tags, :size => 41, :required => @issue.required_attribute?('tags') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :price %>
        <%= f.text_field :price, :size => 41, :required => @issue.required_attribute?('price') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :number_of_task %>
        <%= f.text_field :number_of_task, :size => 41, :required => @issue.required_attribute?('number_of_task') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :customer %>
        <%= f.text_field :customer, :size => 41, :required => @issue.required_attribute?('customer') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :priority %>
        <%= f.select :priority, options_for_select(["High", "Low"]), {:required => true} %>
      </p>  
    </div>  
  </div>

  <div class="splitcontentright">
    <div>
      <p>
        <%= f.label :contractor %>
        <%= f.select :contractor, options_for_select(["Helgi LAB LLC"]), {:required => true} %>
      </p>  
    </div>  
    <div>
      <p>
        <%= f.label :nmck %>
        <%= f.text_field :nmck, :size => 41, :required => @issue.required_attribute?('nmck') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :remaining_amount_plan %>
        <%= f.text_field :remaining_amount_plan, :size => 41, :required => @issue.required_attribute?('remaining_amount_plan') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :remaining_amount_fact %>
        <%= f.text_field :remaining_amount_fact, :size => 41, :required => @issue.required_attribute?('remaining_amount_fact') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :executort %>
        <%= f.text_field :executor, :size => 41, :required => @issue.required_attribute?('executor') %>
      </p>  
    </div>
    <div>
      <p>
        <%= f.label :is_plan %>
        <%= f.select :is_plan, options_for_select([["Yes", true], ["No", false]]), {:required => true} %></p>
      </p>  
    </div>  
  </div>
</div>

<% end %>

<% include_calendar_headers_tags %>
